*, ::before, ::after {
    box-sizing: border-box;
  }
  
  html {
      min-block-size: 100%;
      font-size: 100%;
  }
  
  body {
      margin: 0;
      block-size: 100%;
      font-family: system-ui, sans-serif;
      line-height: 1.5;
  }
  
  header {
      color: #fff;
      background-color: #333;
      border: 5px solid #000;
  }
  
  nav ul {
      margin: 0;padding: 0;
  }
  
  nav li {
      display: block;
  }
  
  nav a {
      display: block;
      padding: 0.5em 1em;
      text-decoration: none;
      color: #fff;
      
  }
  
  header .title {
      padding: 1em;
      font-size: 1.5rem;
      font-style: italic;
      font-weight: bold;
  }
  
  main {
      width: 100%;
      padding: 1em;
      display: flex;
      justify-content: space-around;
      /* align-items: flex-start;  */
      /* display: grid; */
       /* grid-template-columns: 1fr;  */
       /* gap: 1em; */
  } 
  
  main h1 {
      margin-top: 0;
  }
  article{
      width: 65%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .list{
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .cards {
      list-style: none;
      padding: 0;
      
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      /* display: grid; */
      /* grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr)); */
      /* gap: 1em; */
  }
  
  .card {
      width: 45%;
      height: 250px;
      margin: 15px;
      border: 5px solid #000;
  }
  
  .card h2 {
      margin: 0;
      padding: 0.5em 1em;
      font-size: 1.25rem;
      color: #fff;
      background-color: #333;
  }
  
  .card .inner {
      padding: 0.5em 1em;
  }
  
  .sidebar {
      width: 30%;
      display: block;
      padding: 0.5em 1em;
      color: #fff;
      background-color: #333;
      border: 5px solid #000;
  }
  @media screen and (max-width: 800px){
      header{
          display:flex;flex-direction: column;
      }
      main{
         display: flex;flex-direction: column;align-items: center;justify-content: center;
      }
      .card{
          width: 90%;
      }
      .sidebar{
          width: 90%;
      }
  }
  @media screen and (min-width:801px) and (max-width:1100px){
      header{
        display: flex;flex-direction: row;justify-content: space-around;align-items: baseline;
      }
      main{
          display: flex;flex-direction: column;align-items: center;justify-content: center;
      }
      .card{
        width: 90%;}
    
     .sidebar{
        width: 90%;
        user-select: none;}
    
       ul{
        display: flex;flex-direction: row;justify-content: space-around;}
 }
    @media screen and (min-width:1101px){
        header{
              display: flex;justify-content: space-around;flex-direction: row;align-items: baseline;flex-direction: row;
        }
        ul{
           display: flex;flex-direction: row;justify-content: space-around;
         }
    }
     
    
  